.card {
  height: 250px;
  width: 25%;
  border: 1px solid;
  border-radius: 10px;
  margin: 8px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  cursor: pointer;
}

.card__year {
  text-align: center;
  padding: 15px;
  background-image: linear-gradient(to right, #e10600, transparent);
  border-radius: 10px 10px 0px 0px;
  font-size: 1.5rem;
}

.card__drivername {
  text-align: center;
  padding: 30px;
  font-size: xx-large;
}

.card__teamname {
  text-align: center;
  padding: 30px;
  font-size: x-large;
}
