.card {
  height: 250px;
  width: 25%;
  border: 1px solid;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}

.card__year {
  text-align: center;
  padding: 15px;
  background-image: linear-gradient(to bottom, #223380, transparent);
  font-size: 1.5rem;
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
}

.card__drivername {
  text-align: center;
  padding: 30px;
  font-size: xx-large;
}

.card__teamname {
  text-align: center;
  padding: 30px;
  font-size: x-large;
}
