.header__container {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to left, #e10600, transparent);
}

.header__image {
    background-color: rgb(230, 169, 169);
    margin: 0.5rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}